
@*@model MyFirstMVCMAJA.Models.StudentModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var a = 10;

   
 }

<h1>Student  / About Page</h1>


@*<h2>@Model.StudentName</h2>*@

@*<form method="post" action="~/Controllers/home/index">

    </form>*@



@*@using(Html.BeginForm(,))*@


@*@using (Html.BeginForm("Index", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{



    @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
    <br />
    

    @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control" })

    <br />
    <input type="submit" value="Save" />
}*@




